<p-table
  [value]="users()"
  styleClass="p-datatable-gridlines p-datatable-striped"
  [tableStyle]="{
    minWidth: '768px'
  }"
  [rows]="10"
  [loading]="loading"
  [globalFilterFields]="['email']"
  [paginator]="true"
  #dt
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <p-iconField iconPosition="left">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          #searchInput
          pInputText
          type="text"
          placeholder="Search email"
          (input)="dt.filterGlobal(searchInput.value, 'contains')"
          size="small"
        />
      </p-iconField>

      <p-button icon="pi pi-refresh" (click)="getAllUsers()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Uid</th>
      <th>Edit</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td class="p-2">{{ user.email }}</td>
      <td class="p-2">
        {{ user.roles.length ? user.roles.join(", ") : "No role" }}
      </td>
      <td class="p-2">{{ user.uid }}</td>
      <td class="p-2">
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [outlined]="true"
          severity="success"
          size="small"
          [disabled]="user.roles.includes('super-admin')"
        ></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No users found.</td>
    </tr>
  </ng-template>
</p-table>
