<p-toast [life]="3000"></p-toast>

<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="assets/images/placeholder-logo.png"
      alt="logo"
      height="40"
      class="mr-2"
    />
  </ng-template>
  <ng-template pTemplate="end">
    @if (!isLogged()) {
    <p-button label="Sign In" (onClick)="showModal()"></p-button>
    } @else {
    <div
      [ngStyle]="{
        display: 'flex',
        'justify-content': 'center',
        'align-items': 'center'
      }"
    >
      <p [ngStyle]="{ margin: '0 12px' }">UserName</p>
      <p-button label="Sign Out" (onClick)="signOut()"></p-button>
    </div>
    }
  </ng-template>
</p-menubar>
<div class="main-wrapper">
  <app-sign-in-modal></app-sign-in-modal>
  <router-outlet></router-outlet>
</div>

<button type="button" (click)="signOut()">Signout</button>
<a routerLink="/role-manager">Role manager</a>
