::ng-deep {
  .p-dialog .p-dialog-header .p-dialog-header-icon {
    border-radius: 4px;
  }

  .p-tabview-panels {
    width: 430px;

    .p-inputtext {
      width: 100%;
      margin: 14px 0;
    }
  }
}


