::ng-deep {
  .p-dialog .p-dialog-header .p-dialog-header-icon {
    border-radius: 4px;
  }

  .p-tabview-panels {
    width: 430px;
    max-width: 100%;

    .p-float-label {
      margin: 16px 0;
    }

    .p-inputtext,
    .p-password {
      width: 100%;
    }
  }
}
