<p-tabView
  [style]="{
      display: 'flex',
      'justify-content': 'center',
      'flex-direction': 'column',
      'align-items': 'center',
    }"
>
  <p-tabPanel header="Log In" [style]="{ width: '100%' }">
    <h3>If you have an existing account</h3>
    <form [formGroup]="userLoginGroup">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          id="loginEmail"
          placeholder="example@email.com"
          formControlName="email"
        />
        <label for="loginEmail">Email</label>
      </span>

      <p-floatLabel class="p-float-label">
        <p-password
          id="loginPassword"
          [toggleMask]="true"
          placeholder="Should have at least 8 characters"
          promptLabel="Choose a password"
          [weakLabel]="validationErrors.passwordWeakLabel"
          [mediumLabel]="validationErrors.passwordMediumLabel"
          [strongLabel]="validationErrors.passwordStrongLabel"
          formControlName="password"
        />

        <label for="loginPassword">Password</label>
      </p-floatLabel>
    </form>

    <p-button
      label="Log In"
      (onClick)="loginUser()"
      [style]="{ margin: '14px 0' }"
    ></p-button>
  </p-tabPanel>

  <p-tabPanel header="Register">
    <h3>Or register if you are new here</h3>
    <form [formGroup]="userRegisterGroup">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          id="registerEmail"
          placeholder="example@email.com"
          formControlName="email"
        />
        <label for="registerEmail">Email</label>
      </span>

      <p-floatLabel class="p-float-label">
        <p-password
          id="registerPassword"
          [toggleMask]="true"
          placeholder="Should have at least 8 characters"
          promptLabel="Choose a password"
          [weakLabel]="validationErrors.passwordWeakLabel"
          [mediumLabel]="validationErrors.passwordMediumLabel"
          [strongLabel]="validationErrors.passwordStrongLabel"
          formControlName="password"
        />

        <label for="loginPassword">Password</label>
      </p-floatLabel>

      <p-floatLabel class="p-float-label">
        <p-password
          id="repeatPassword"
          placeholder="Should have at least 8 characters"
          [feedback]="false"
          [toggleMask]="true"
          formControlName="repeatPassword"
        />

        <label for="repeatPassword">Repeat Password</label>
      </p-floatLabel>
    </form>

    <p-button
      label="Register"
      (onClick)="registerUser()"
      [style]="{ margin: '14px 0' }"
    ></p-button>
  </p-tabPanel>
</p-tabView>
